/* main.html stylings */
body {
  background-color: #ffffff;
}
/* Jumbotron */
.team-heading {
  background-color: #0fa3b1;
  color: #ffffff;
  border-bottom: 4px solid #75dddd;
}

/* Cards */
.employee-card {
  margin: 0px 15px;
  box-shadow: 0 40px 60px 0 rgba(15, 15, 15, 0.4);
}
.card-header {
  background-color: #0fa3b1;
  color: #ffffff;
  border-bottom: 2px solid #75dddd;
}

.card-body {
  background-color: #babebe41;
}
.fas {
  color: #aa3e98;
}

li {
  color: #003950;
}
