/* main.html stylings */
body {
  background-color: #ffffff;
  background-image: url(https://images.unsplash.com/photo-1529307482987-d09357b12fb3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80);
  background-size: cover;
}
/* Jumbotron */
.team-heading {
  background-color: #0f12b1;
  color: #ffffff;
  border-bottom: 6px solid #75dddd;
}

.team-area {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 20px;
}

/* Cards */
.employee-card {
  margin: 15px 15px;
  box-shadow: 0 40px 60px 0 rgba(15, 15, 15, 0.4);
}
.card-header {
  background-color: #0f12b1;
  color: #ffffff;
  border-bottom: 3px solid #aa3e98;
}

.card-body {
  background-color: #babebe41;
}
.fas {
  color: #75dddd;
}

li {
  color: #003950;
}
